{% extends 'core/base.html' %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
    <div class="images w-full mb-6 lg:mb-0 lg:w-3/5">
        <img class="rounded-xl" src="https://http2.mlstatic.com/D_NQ_NP_856081-MLB50249861950_062022-O.webp">
    </div>

    <div class="information w-full lg:w-2/5 lg:p-6">
        <h1 class="text-2xl font-medium text-blue-600">Nome do produto</h1>

        <p class="mt-1 text-gray-400">Preço do produto</p>

        <p class="mt-6 text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, rem, iste, sed similique iusto dolorem voluptas expedita illo blanditiis dolorum natus pariatur accusamus. Voluptatum, laudantium asperiores. Totam hic reprehenderit labore.</p>
        
        <a href="" class="mt-6 inline-block px-8 py-4 rounded-xl bg-blue-500 text-white hover:bg-blue-700">
            Adicionar ao carrinho
        </a>
    </div>
</div>
{% endblock %}