{% extends 'core/base.html' %}
{% load static %}

{% block title %}Sobre{% endblock %}

{% block content %}
<div class="flex w-full">
    <div class="w-1/2 ml-24">
        <img src="{% static 'core/ceo.jpg' %}"
            class="w-full rounded-l-2xl">
    </div>
    <div class="w-1/2 bg-blue-600 p-12 rounded-r-xl mr-24">
        <h1 class="mb-2 text-3xl lg:text-5xl text-white">Nós vendemos meias para jogadores caros.</h1>

        <p class="mt-6 text-lg font-normal text-gray-100 lg:text-xl">
            Oferecemos as melhores meias para os melhores atletas. Na eBeca, 
            elevamos o jogo a cada passo com nossas meias antiderrapantes exclusivas 
            para jogadores de futebol. Seja nos dribles rápidos ou nas arrancadas decisivas, 
            as meias eBeca são o parceiro definitivo para alcançar o melhor desempenho em campo.
            Entre no jogo com eBeca e mantenha o controle do seu caminho para a vitória!
        </p>

    </div>
</div>

{% endblock %}