{% extends 'core/base.html' %}

{% block content %}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
    <div class="w-full bg-gray-100 p-6 rounded-xl shadow-xl">
        <h1 class="mb-6 text-2xl font-medium text-blue-500">Login</h1>

        <form method="post" action="." class="space-y-3">
            {% csrf_token %}
            <div>
                <label for="username">Usuário</label>
                <input id="username" name="username" type="text" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            <div>
                <label for="pwd">Senha</label>
                <input id="pwd" name="password" type="password" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            {% if form.erros %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                            <p>{{error|escape}}</p>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                        Isso é um erro!
                    </div>
                {% endfor %}
            {% endif %}
            <div>
                <button class="w-full py-4 px-6 rounded-xl text-white bg-green-500 hover:bg-green-700">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}